@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alegreya Sans", sans-serif;
}

body {
    background: #7b4397;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #dc2430, #7b4397);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #dc2430, #7b4397);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: none !important;
    color: var(--white);
}

#app {
    width: 100vw;
    height: 100vh;
    background: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#chat_container {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 20px;
    scroll-behavior: smooth;
}


/* hides scrollbar */


/* Firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: #FFFFFF #FF2929;
}


/* Chrome, Edge and Safari */

*::-webkit-scrollbar {
    width: 7px;
    width: 7px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #ff292900;
}

*::-webkit-scrollbar-track:hover {
    background-color: #E1EAED00;
}

*::-webkit-scrollbar-track:active {
    background: rgba( 255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

*::-webkit-scrollbar-thumb {
    background: rgba( 255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 5px);
    -webkit-backdrop-filter: blur( 5px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.wrapper {
    width: 97%;
    padding: 10px;
}

.ai {
    background: rgba( 255, 255, 255, 0.15);
    backdrop-filter: blur( 2px);
    -webkit-backdrop-filter: blur( 2px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    border-radius: 50px;
}

.chat {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.profile {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    background: #5436da00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ai .profile {
    background: #10a37e00;
    animation: animName 5s linear infinite;
}

.profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

@keyframes animName {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.navbar {
    position: relative;
    border: 1px solid #737373;
    background: rgba( 255, 255, 255, 0.15);
    backdrop-filter: blur( 2px);
    -webkit-backdrop-filter: blur( 2px);
    border: 1px solid rgba( 255, 255, 255, 0.18);
    width: 100%;
    z-index: 99;
    padding: 5px 0 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#navlist {
    list-style: none;
    display: flex;
}

#navlist li img {
    height: 40px;
}

#navlist li {
    flex: auto;
    text-align: center;
    font-size: 18px;
    color: white;
}

#navlist li a {
    position: absolute;
    text-decoration: none;
    color: white;
    padding: 7px 20px 7px 20px;
    border-radius: 20px;
    cursor: none;
    border: 1px solid #fff;
}

.message {
    flex: 1;
    color: #dcdcdc;
    font-size: 20px;
    max-width: 100%;
    overflow-x: scroll;
    /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
    white-space: pre-wrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/* hides scrollbar */

.message::-webkit-scrollbar {
    display: none;
}

form {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 50px;
    margin-bottom: 1vh;
    border: 1px solid #737373;
    background: rgba( 255, 255, 255, 0.15);
    backdrop-filter: blur( 2px);
    -webkit-backdrop-filter: blur( 2px);
    border: 1px solid rgba( 255, 255, 255, 0.18);
    display: flex;
    flex-direction: row;
    gap: 10px;
}

textarea::placeholder {
    color: #000;
    text-transform: capitalize;
}

textarea {
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    background: transparent;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: none !important;
}

button {
    outline: 0;
    border: 0;
    cursor: none !important;
    background: transparent;
}

form img {
    width: 25px;
    height: 25px;
    opacity: 0.5;
}

.cursor {
    z-index: 999;
    position: fixed;
    background: #FFF;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #fff, 0 0 60px #fff, 0 0 100px #fff;
    display: none;
}

.cursor:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    transform: translate(-35%, -35%);
    border-radius: 50%;
}
